// Variables
$accent: #7A66FF;
$violet: #4E3DAF;
$link: #7A66FF;
$periwinkle: #9D8EFF;
$lilac: #ECE9FF;
$gray-dark: #152A35;
$gray-darker: #19212a;
$anthracite: #19212B;
$text: #585E67;
$spacegray: #585E67;
$text-color: #595d60;
$fixed-width: 960px;
$leftnav-padding-multiplier: 24px;
$border-color: #DBDFE2;
$border: #DBDFE2;
$cloudgray: #F1F3F5;
$do-green: #00d270;
$dont-red: #f0213a;
$info-blue: #41a4f0;
$infoblock-blue: #41a4f0;
$anchor-gray: #d8d8d8;
$button-color: #4E3DAF;
$pink: #FFE8E8;
$footer-content: #ccd2d7;
$icon-active: #f4f2ff;
$caution-image-border: #FF7F32;
$caution: #FF7F32;
$component-section-color: #a2a6ab;
$default: #19212B;
$hover: #4E3DAF;
$active: #7A66FF;
$active-background: #ECE9FF;
$spacer-1x: 10px;
$spacer-2x: 20px;
$spacer-3x: 30px;
$spacer-4x: 40px;
$spacer-5x: 50px;
$spacer-6x: 60px;
$spacer-7x: 70px;
$spacer-8x: 80px;

